.card-nota {
    font-size: 11px;
    padding: 2px;

    width: 100px;
    height: auto;
    margin-right: 5px;
    border: 1px solid gray;
    border: cadetblue 1px solid;
    border-radius: 5%;
}

.card-nota_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: cadetblue solid 1px;
    color: blue;
    font-size: 12px;
}

.icon_trash {
    width: 20px;
}