*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudo-principal {
    flex-grow: 3;
    margin: 10px;
    display: flex;
    flex-direction: column;
}